n8n_workflows/1_energy_report_on_demand.json
{
  "name": "Energy Report On-Demand",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "energy-report",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "energy-report-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://192.168.178.114:8099/reports/{{ $json.body.report_type || 'today' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "period",
              "value": "={{ $json.body.period || 'day' }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Fetch Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "output-check",
              "leftValue": "={{ $json.body.output || 'pushover' }}",
              "rightValue": "awtrix",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Output Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.178.108/api/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('Fetch Report').item.json.awtrix_text }}\",\n  \"icon\": \"2709\",\n  \"color\": \"#00BFFF\",\n  \"duration\": 15\n}",
        "options": {}
      },
      "name": "Send to Awtrix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushover.net/1/messages.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.PUSHOVER_TAPO_API_TOKEN }}"
            },
            {
              "name": "user",
              "value": "={{ $env.PUSHOVER_USER_GROUP_WOERIS }}"
            },
            {
              "name": "message",
              "value": "={{ $('Fetch Report').item.json.summary_text }}"
            },
            {
              "name": "title",
              "value": "Energy Report"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Pushover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "report_type",
              "value": "={{ $('Webhook').item.json.body.report_type || 'today' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Report": {
      "main": [
        [
          {
            "node": "Output Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Router": {
      "main": [
        [
          {
            "node": "Send to Awtrix",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Awtrix": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Pushover": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "energy"
    }
  ],
  "pinData": {}
}
