n8n_workflows/2_ai_energy_analysis.json
{
  "name": "AI Energy Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "energy-analysis",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "energy-analysis-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.178.114:8099/reports/custom",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_REPORT_API_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": \"{{ $json.body.question || 'Gib mir eine kurze Zusammenfassung des heutigen Energieverbrauchs.' }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Fetch Context Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "chatInput-field",
              "name": "chatInput",
              "value": "={{ $('Webhook').item.json.body.question || 'Gib mir eine kurze Zusammenfassung des heutigen Energieverbrauchs.' }}\n\nAktuelle Daten:\n{{ JSON.stringify($json.data).substring(0, 3000) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [690, 300]
    },
    {
      "parameters": {
        "prompt": "={{ $json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "type": "System",
              "message": "Du bist ein Energieanalyst fuer einen Haushalt mit 13 ueberwachten Geraeten (Tapo P110 Smart Plugs). Antworte kurz und praegnant auf Deutsch. Benutze keine Emojis. Gib konkrete Zahlen und Handlungsempfehlungen. Waehrung: EUR, Strompreis: 0.28 EUR/kWh."
            }
          ]
        },
        "options": {
          "maxTokensToSample": 300
        }
      },
      "name": "Claude Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [910, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "maxTokensToSample": 300
        }
      },
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [910, 500],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credentials",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushover.net/1/messages.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "REPLACE_WITH_PUSHOVER_API_TOKEN"
            },
            {
              "name": "user",
              "value": "REPLACE_WITH_PUSHOVER_USER_KEY"
            },
            {
              "name": "message",
              "value": "={{ $json.text }}"
            },
            {
              "name": "title",
              "value": "AI Energieanalyse"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Pushover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "status-field",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "analysis-field",
              "name": "analysis",
              "value": "={{ $('Claude Analysis').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Context Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Context Data": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Claude Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analysis": {
      "main": [
        [
          {
            "node": "Send Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Pushover": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "energy"
    },
    {
      "name": "ai"
    }
  ],
  "pinData": {}
}